<Resources>
	<string id="%1%" value="弹簧材料"/>
	<string id="%2%" value="材料名称"/>
	<string id="%3%" value="弹性模量"/>
	<string id="%4%" value="MPa"/>
	<string id="%5%" value="泊松比"/>
	<string id="%6%" value="AISI 1074 高碳钢 (ASTM A684, AMS 5120H)"/>
	<string id="%7%" value="AISI 301 不锈钢 (ASTM A666, AMS 5519)"/>
	<string id="%8%" value="铬镍铁合金 X-750 (硬化的镍铬合金)"/>
	<string id="%9%" value="磷青铜"/>
	<string id="%10%" value="E"/>
	<string id="%11%" value="||m|"/>
	<string id="%12%" value="ul"/>
	<string id="%13%" value="钢 65 GOST 14959-79"/>
	<string id="%14%" value="钢 70 GOST 14959-79"/>
	<string id="%15%" value="钢 75 GOST 14959-79"/>
	<string id="%16%" value="钢 80 GOST 14959-79"/>
	<string id="%17%" value="钢 85 GOST 14959-79"/>
	<string id="%18%" value="钢 60G GOST 14959-79"/>
	<string id="%19%" value="钢 65G GOST 14959-79"/>
	<string id="%20%" value="钢 70G GOST 14959-79"/>
	<string id="%21%" value="钢 55S2 GOST 14959-79"/>
	<string id="%22%" value="钢 55S2A GOST 14959-79"/>
	<string id="%23%" value="钢 60S2 GOST 14959-79"/>
	<string id="%24%" value="钢 70S3A GOST 14959-79"/>
	<string id="%25%" value="钢 60S2G GOST 14959-79"/>
	<string id="%26%" value="钢 50ChG GOST 14959-79"/>
	<string id="%27%" value="钢 50ChGA GOST 14959-79"/>
	<string id="%28%" value="钢 55ChGR GOST 14959-79"/>
	<string id="%29%" value="钢 60S2A GOST 14959-79"/>
	<string id="%30%" value="钢 50ChFA GOST 14959-79"/>
	<string id="%31%" value="钢 50ChGFA GOST 14959-79"/>
	<string id="%32%" value="钢 55S2GF GOST 14959-79"/>
	<string id="%33%" value="钢 60S2ChA GOST 14959-79"/>
	<string id="%34%" value="钢 60S2ChFA GOST 14959-79"/>
	<string id="%35%" value="钢 65S2VA GOST 14959-79"/>
	<string id="%36%" value="钢 60S2N2A GOST 14959-79"/>
</Resources>